@page "/"

<BlazorTextEditor.RazorLib.Shared.MainLayout />

@* <Router AppAssembly="@typeof(App).Assembly"> *@
@*     <Found Context="routeData"> *@
@*         <RouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorTextEditor.RazorLib.Shared.MainLayout)"/> *@
@*         <FocusOnNavigate RouteData="@routeData" Selector="h1"/> *@
@*     </Found> *@
@*     <NotFound> *@
@*         <PageTitle>Not found</PageTitle> *@
@*         <LayoutView Layout="@typeof(BlazorTextEditor.RazorLib.Shared.MainLayout)"> *@
@*             <p role="alert">Sorry, there's nothing at this address.</p> *@
@*         </LayoutView> *@
@*     </NotFound> *@
@* </Router> *@